/* src/css/BrowsePlants.css */
.browse-plants {
    text-align: center;
    padding: 50px;
    background-color: #f0f8ff;
    color: #006400;
    font-family: 'Courier New', Courier, monospace;
}
  
.browse-plants h1 {
    font-size: 2.5em;
}
  
.browse-plants p {
    font-size: 1.2em;
}
  
.browse-plants button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1em;
    color: #fff;
    background-color: #006400;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.browse-plants button:hover {
    background-color: #004d00;
}
  
.browse-plants h2 {
    margin-top: 100px; /* Increase top margin */
    margin-bottom: 50px;
    font-size: 2em;
}
  
.browse-plants ol {
    list-style-position: inside;
    font-size: 1.2em;
}

.browse-plants ol li {
    margin-bottom: 10px;
}

.browse-plants .plant-grid {
    display: grid; /* Use CSS Grid for layout */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Create a responsive grid with a minimum column width of 200px */
    gap: 20px; /* Add some space between grid items */
}