/* src/css/BrowsePlants.css */
.browse-plants {
    text-align: center;
    padding: 50px;
    background-color: #f0f8ff;
    color: #006400;
    font-family: 'Courier New', Courier, monospace;
}

.browse-plants h1 {
    font-size: 2.5em;
}

.browse-plants p {
    font-size: 1.2em;
}

.browse-plants button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1em;
    color: #fff;
    background-color: #006400;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}

.browse-plants button:hover {
    background-color: #004d00;
}

.browse-plants h2 {
    margin-top: 100px; /* Increase top margin */
    margin-bottom: 50px;
    font-size: 2em;
}

.browse-plants ol {
    list-style-position: inside;
    font-size: 1.2em;
}

.browse-plants ol li {
    margin-bottom: 10px;
}

.browse-plants .plant-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.browse-plants .plant-listing {
    width: 200px;
    border: 1px solid #006400;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.browse-plants .plant-listing img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.browse-plants .plant-listing h3, .browse-plants .plant-listing p, .browse-plants .plant-listing .plant-buttons {
    text-align: center;
    width: 100%;
}

.browse-plants .plant-listing .plant-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
